@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
   color: rgb(var(--foreground-rgb));
  
  /* padding: 1rem; */
   /*
   background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer base {
  h1 {
    @apply font-bold mb-3;
  }
}


 /* CSS for the navigation bar */
 .navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
}

.company-name {
  margin-left: 10px;
}

.navbar-buttons {
  margin-right: 10px;
}

.navbar-buttons button {
  margin-left: 5px;
}
